<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Fake News Detection</h1>
    <form id="news-form" action="/predict" method="POST">
        <label for="userInput">Enter the news article:</label><br>
        <textarea id="userInput" name="News_Article" rows="4" cols="50" required></textarea><br>
        <button type="submit">Predict</button>
    </form>
    <div id="result">
        <h2>Prediction Result:</h2>
        <p id="prediction">{{ prediction }}</p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>